<footer class="bg-gray-100 py-12">
    <div class="container w-5/6 mx-auto">
        <h5 class="text-2xl font-semibold">Get the FreshCart App</h5>
        <p class="opacity-65 my-5">We will send you a link, open it on your phone to download the app.</p>
        <div class="footer-mail flex items-center">
            <input class="w-2/3 border px-3 py-1 rounded-md placeholder:" type="text" placeholder="Email ..">
            <button class="ml-10 bg-green-600 text-white py-2 px-2 rounded-md">Share App Link</button>
        </div>
        <div class="footer-links flex flex-col justify-between mt-10 py-4 border-b border-t xl:flex-row">
            <div class="footer-partners flex items-center gap-3 py-2">
                <h6 class="text-lg  font-semibold">Payment Partners</h6>
                <img src="assets/images/amazon-pay.png" class="w-16" alt="amazon-pay">
                <img src="assets/images/American-Express-Color.png" class="w-16" alt="American Express">
                <img src="assets/images/mastercard.webp" class="w-16" alt="Mastercard">
                <img src="assets/images/paypal.png" class="w-16" alt="Paypal">
            </div>
            <div class="footer-deliveries flex items-center gap-3 py-2">
                <h6 class="text-lg  font-semibold">Get deliveries with FreshCart</h6>
                <img src="assets/images/get-apple-store.png" class="w-32" alt="Apple Store">
                <img src="assets/images/get-google-play.png" class="w-32" alt="Google Play">
            </div>
        </div>
    </div>
</footer>