<div class="register-container mx-auto md:w-2/3">
    <h1 class="text-2xl font-semibold mb-4">Register Now:</h1>
    <form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
        @if (errorMsg){
        <div class="bg-red-300 rounded-lg px-4 py-2">
            <p>{{errorMsg}}</p>
        </div>
        }
        <div class="flex flex-col gap-1">
            <div class="flex flex-col gap-1 my-2">
                <label for="name">Name:</label>
                <input formControlName="name" class="border rounded-md py-2 px-3" type="text">
                @if(registerForm.get('name')?.errors&&registerForm.get('name')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Ensure that these requirements are met:</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if(registerForm.get('name')?.errors?.['required'])
                            {<li>Name's required</li>}
                            @else if(registerForm.get('name')?.errors?.['minlength']){<li>Name should be at least 3
                                characters long</li>}
                            @else if(registerForm.get('name')?.errors?.['maxlength']){<li>Name can be at most 8
                                characters
                                long</li>}

                        </ul>
                    </div>
                </div>
                }
            </div>
            <div class="flex flex-col gap-1 my-2">
                <label for="name">Email:</label>
                <input formControlName="email" class="border rounded-md py-2 px-3" type="email">
                @if(registerForm.get('email')?.errors&&registerForm.get('email')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Ensure that these requirements are met:</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if(registerForm.get('email')?.errors?.['required'])
                            {<li>Email's required</li>}
                            @else if(registerForm.get('email')?.errors?.['email']){<li>Enter a valid email
                                ex: {{emailExample}}
                            </li>}


                        </ul>
                    </div>
                </div>
                }
            </div>
            <div class="flex flex-col gap-1 my-2">
                <label for="name">Phone:</label>
                <input formControlName="phone" class="border rounded-md py-2 px-3" type="tel">
                @if(registerForm.get('phone')?.errors&&registerForm.get('phone')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Ensure that these requirements are met:</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if(registerForm.get('phone')?.errors?.['required'])
                            {<li>Phone's required</li>}
                            @else if(registerForm.get('phone')?.errors?.['pattern']){<li>Enter a valid phone number
                            </li>}


                        </ul>
                    </div>
                </div>
                }
            </div>
            <div class="flex flex-col gap-1 my-2">
                <label for="name">Password:</label>
                <input formControlName="password" class="border rounded-md py-2 px-3" type="text">
                @if(registerForm.get('password')?.errors&&registerForm.get('password')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Ensure that these requirements are met:</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if(registerForm.get('password')?.errors?.['required'])
                            {<li>Password's required</li>}
                            @else if(registerForm.get('password')?.errors?.['pattern']){<li>Enter a valid password:
                            </li>
                            <li>At least 8 characters</li>
                            <li>First character must be capital</li>
                            }
                        </ul>
                    </div>
                </div>
                }
            </div>
            <div class="flex flex-col gap-1 my-2">
                <label for="name">Confirm Password:</label>
                <input formControlName="rePassword" class="border rounded-md py-2 px-3" type="tel">
                @if(registerForm.get('rePassword')?.errors&&registerForm.get('rePassword')?.touched){
                <div class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50" role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3 mt-[2px]" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <span class="sr-only">Danger</span>
                    <div>
                        <span class="font-medium">Ensure that these requirements are met:</span>
                        <ul class="mt-1.5 list-disc list-inside">
                            @if(registerForm.get('rePassword')?.errors?.['required'])
                            {<li>You need to confirm your password</li>}
                            @else if (registerForm.get('rePassword')?.errors?.['mismatch']){
                            <li>Passwords doesn't match</li>
                            }
                        </ul>
                    </div>
                </div>
                }
            </div>
        </div>
        <button [disabled]="registerForm.invalid" class="ms-auto block mt-2  px-3 py-2 rounded-md text-white"
            [ngClass]="registerForm.invalid ? 'bg-green-500' : 'bg-green-600'">
            @if(isLoading){
            <i class="fa-solid fa-spinner fa-spin"></i>
            }
            @else {
            <span>Register</span>
            }

        </button>
    </form>
</div>