<nav>
    <div class="w-full px-16 py-3 sticky bg-gray-100 flex items-center justify-between">
        <div class="nav-left flex items-center gap-3">
            <a class="pr-10" routerLink="">
                <img src="assets/images/freshcart-logo.svg" alt="freshcart-logo">
            </a>
            @if(isLogin){
            <a class="nav-link opacity-90 p-2" routerLink="home" routerLinkActive="bg-main rounded-lg text-white">Home</a>
            <a class="nav-link opacity-90 p-3" routerLink="cart" routerLinkActive="bg-main rounded-lg text-white">Cart</a>
            <a class="nav-link opacity-90 p-3" routerLink="products" routerLinkActive="bg-main rounded-lg text-white">Products</a>
            <a class="nav-link opacity-90 p-3" routerLink="categories" routerLinkActive="bg-main rounded-lg text-white">Categories</a>
            <a class="nav-link opacity-90 p-3" routerLink="brands" routerLinkActive="bg-main rounded-lg text-white">Brands</a>
            <a class="nav-link opacity-90 p-3" routerLink="wishlist" routerLinkActive="bg-main rounded-lg text-white">Wishlist</a>
            <a class="nav-link opacity-90 p-3" routerLink="allorders" routerLinkActive="bg-main rounded-lg text-white">Orders</a>
        }

        </div>
        <div class="nav-right flex items-center gap-3">
            <i class="fa-brands fa-instagram cursor-pointer"></i>
            <i class="fa-brands fa-facebook cursor-pointer"></i>
            <i class="fa-brands fa-tiktok cursor-pointer"></i>
            <i class="fa-brands fa-twitter cursor-pointer"></i>
            <i class="fa-brands fa-linkedin cursor-pointer"></i>
            <i class="fa-brands fa-youtube cursor-pointer"></i>
            @if(!isLogin){

            <a class="nav-link opacity-90" routerLink="login">Login</a>
            <a class="nav-link opacity-90" routerLink="register">Register</a>
            }
            @else {
            <a (click)="_AuthenticationService.logOut()" class="nav-link opacity-90 cursor-pointer">Logout</a>
            <a> <i routerLink="cart" class="fa fa-shopping-cart text-main cursor-pointer"> @if(this._CartService.cartNumberCounter){
                    {{this._CartService.cartNumberCounter.getValue()}}
                    }
                </i></a>
            }
        </div>
    </div>
</nav>